[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = {git = "https://github.com/Pycord-Development/pycord"}
python-dotenv = "*"
RateMyProfessorAPI = "*"

[dev-packages]

[requires]
python_version = "3.9"
